{:paths ["src"]

 :aliases
 {:build
  {:deps       {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}
                slipset/deps-deploy           {:mvn/version "RELEASE"}}
   :ns-default build}

  :test
  {:extra-paths ["test" "test/resources"]
   :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                            :sha     "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}}
   :main-opts   ["-m" "cognitect.test-runner"]}}}
